<meta name="viewport" content="initial-scale=1, maximum-scale=0">

<style>
  .meetups {
  }
  .card-title h3 {
    font-weight: 500;
  }
  md-list md-list-item md-icon.md-avatar-icon {
    background-color: #607D8B;
  }

  md-list md-list-item md-icon.md-avatar-icon.urgent {
    background-color: #FF5722;
  }

  div.md-toolbar-tools-bottom h1{
    font-size: 36px;
    text-align: center;
  }
</style>

<md-toolbar class="main-toolbar md-tall md-whiteframe-4dp">
  <div class="md-toolbar-tools" layout-align="start center">
    <md-button class="md-icon-button md-accent md-hue-1" aria-label="Menu">
      <md-icon class="material-icons" aria-label="Menu"> menu </md-icon>
    </md-button>
    <span flex></span>
    <h2>Windo</h2>
    <span flex></span>
    <md-button ui-sref="create" class="md-icon-button md-accent md-hue-1" aria-label="Account">
      <md-icon class="material-icons">create</md-icon>
    </md-button>
  </div>
  <div class="md-toolbar-tools md-toolbar-tools-bottom" layout="row" layout-align="center start">
    <h1>Dashboard</h1>
  </div>
</md-toolbar>

<!-- Only show if there is nothing to display on the dashboard -->
<md-content ng-show="!dashboard.meetups || dashboard.meetups.length == 0", class="dark", layout="column", layout-align="center center", flex>
  <h1 class="md-display-1 md-accent">Whats your Windo?</h1>
  <!-- <span class="push_100"></span> -->
</md-content>

<span flex="5"></span>
<div layout="row">
  <span flex="5"></span>
  <md-content class="md-whiteframe-1dp meetups" layout="column" layout-align="start center" flex>
    <md-list style="text-align: left; width: 100%">
      <md-list-item class="md-2-line" style="text-align: left;">
        <md-icon class="material-icons md-avatar-icon">date_range</md-icon>
        <div class="md-list-item-text card-title">
          <h3><b>Upcoming</b></h3>
          <h4>See what's on your calendar</h4>
        </div>
        <md-divider></md-divider>
      </md-list-item>
      <md-list-item class="md-3-line" style="text-align: left;" ng-click="dashboard.goToMeetup(meetup._id)" ng-repeat="meetup in dashboard.meetups">
        <div class="md-list-item-text">
          <h3>{{meetup.name | uppercase}}</h3>
          <h4>{{meetup.invitees.join(', ')}}</h4>
        </div>
        <md-button class="md-secondary" ng-click="dashboard.deleteMeetup(meetup._id)">Delete</md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>

  <span flex="5"></span>

  <md-content class="md-whiteframe-1dp meetups" layout="column" layout-align="start center" flex>
    <md-list style="text-align: left; width: 100%">
      <md-list-item class="md-2-line" style="text-align: left;">
        <md-icon class="material-icons md-avatar-icon urgent">warning</md-icon>
        <div class="md-list-item-text card-title">
          <h3><b>Urgent</b></h3>
          <h4>These require your attention</h4>
        </div>
        <md-divider></md-divider>
      </md-list-item>
      <md-list-item class="md-3-line" style="text-align: left;" ng-click="dashboard.goToMeetup(meetup._id)" ng-repeat="meetup in dashboard.meetups">
        <div class="md-list-item-text">
          <h3>{{meetup.name | uppercase}}</h3>
          <h4>{{meetup.invitees.join(', ')}}</h4>
        </div>
        <md-button class="md-secondary" ng-click="dashboard.deleteMeetup(meetup._id)">Delete</md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>

  <span flex="5"></span>
</div>
