<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<style>
  div.create-container {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<md-toolbar class="main-toolbar md-whiteframe-4dp">
  <div class="md-toolbar-tools" layout-align="start center">
    <md-button ui-sref="dashboard" class="md-icon-button md-accent md-hue-1" aria-label="Menu">
      <md-icon class="material-icons">close</md-icon>
    </md-button>
    <span flex></span>
    <h2>New Meetup</h2>
    <span flex></span>
    <md-button class="md-icon-button md-accent md-hue-1" aria-label="Account">
      <md-icon class="material-icons">info_outline</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-content class="md-padding md-whiteframe-1dp">
  <div class="create-container">
    <form name="create.createForm" class="create-form" layout-align="start center" ng-submit="create.submitForm();">
      <md-chips ng-model="create.invitees" readonly="false" placeholder="Search for friends" secondary-placeholder="Search for friends">
        <md-chip-template>
          <strong>{{$chip}}</strong>
        </md-chip-template>
      </md-chips>
      <br>
      <md-input-container class="md-block">
        <label>Location</label>
        <input name="eventName" class="" ng-model="create.location" md-maxlength="24" minlength="4">
        <!-- <div ng-messages="create.createForm.location.$error" ng-show="create.createForm.location.$dirty">
          <div ng-message="required">This is required!</div>
          <div ng-message="md-maxlength">That's too long!</div>
          <div ng-message="minlength">That's too short!</div>
        </div> -->
      </md-input-container>
      <md-input-container class="md-block">
        <label>Event Name</label>
        <input name="test" class="" ng-model="create.eventName" required>
      </md-input-container>

      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;">
    </form>

    <label style="left: 3px; position: relative; color: #bdbdbd;">Set Dates Below</label>
    <date-picker selected-days="create.selectedDays"></date-picker>
    <md-button ng-disabled="create.createForm.$invalid" style="height: 60px; width: 100%; margin: 0; margin-top: 25px;" class="md-raised md-primary" ng-click="create.submitForm();">
      Create
    </md-button>

  </div>
</md-content>
