md-toolbar(class="main-toolbar md-whiteframe-2dp")
  div(class="md-toolbar-tools", layout-align="start center")
    md-button(class="md-icon-button md-accent", aria-label="Menu")
      md-icon(class="material-icons" aria-label="Menu") menu
    span(flex)
    h2
      span Windo
    span(flex)
    md-button(ui-sref="create", class="md-icon-button md-accent", aria-label="Account")
      md-icon(class="material-icons") create
      
//- <!-- Only show if there is nothing to display on the dashboard -->
md-content(ng-show="!dashboard.meetups || dashboard.meetups.length == 0", class="dark", layout="column", layout-align="center center", flex)
  h1(class="md-display-1 md-accent") Whats your Windo?
  //- span(class="push_100")
  
md-content(class="md-whiteframe-1dp", layout="column", layout-align="start center")
  md-list(style="text-align: left; width: 100%")
    md-list-item(class="md-3-line", style="text-align: left;", ng-click="dashboard.goToMeetup(meetup._id)", ng-repeat="meetup in dashboard.meetups")
      div(class="md-list-item-text")
        h3 {{meetup.name | uppercase}}
        h4 {{meetup.invitees.join(', ')}}
      md-button(class="md-secondary", ng-click="dashboard.deleteMeetup(meetup._id)") Delete
      md-divider(ng-if="!$last")
