<md-content flex class="md-padding" layout-xs="column" layout="row" layout-align="center center">
  <md-card class="login-card">
    <md-card-title>
      <md-card-title-text layout="column" layout-align="start center">
        <span class="md-headline">Windo</span>
        <span class="md-subhead">Registration</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <form name="login-form" class="full-width-form" layout="column" layout-align="start center" ng-submit="register.submit()">
        <div layout="row">
          <md-input-container>
            <label>First name</label>
            <input ng-model="register.firstName">
          </md-input-container>
          <md-input-container>
            <label>Last name</label>
            <input ng-model="register.lastName">
          </md-input-container>
        </div>
        <md-input-container>
          <label>Email</label>
          <input ng-model="register.email">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-model="register.password">
        </md-input-container>
        <md-button ng-click="register.submit()" class="md-raised md-primary">Register</md-button>
      </form>
    </md-card-content>
  </md-card>
</md-content>
