<style>
  md-content {
    background-image: url("/img/iphone_large.jpg");
    background-size: cover;
  }

  md-card {
    background-color: rgba(255, 255, 255, .93);
  }
</style>

<md-content flex class="md-padding" layout-xs="column" layout="row" layout-align="center center">
  <md-card class="login-card">
     <md-card-title>
        <md-card-title-text layout="column" layout-align="start center">
           <span class="md-headline">WINDO</span>
           <span class="md-subhead">Login</span>
       </md-card-title-text>
     </md-card-title>
     <md-card-content>
        <form name="login-form" class="full-width-form" layout="column" layout-align="start center">
           <md-input-container>
              <label>username</label>
              <input ng-model="login.username">
           </md-input-container>
           <md-input-container>
              <label>password</label>
              <input type="password" ng-model="login.password">
           </md-input-container>
           <md-button class="md-raised md-primary">Login</md-button>
        </form>
     </md-card-content>
     <md-card-actions layout="row" layout-align="end center">
        <md-button ui-sref="register">register</md-button>
     </md-card-actions>
  </md-card>
</md-content>
